{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur réseau d'achat de jeux{% endblock %}

{% block body %}
    <div class="container">
        {% include 'partials/search.html.twig' %}
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur Nanomania</h1>
            <p class="lead">Ici vous pourrez acheter un grand nombre de jeux, disponibles sur plusieurs plateformes du moment</p>
        </div>

        <h2 class="h1 my-5">Nos jeux les mieux notés</h2>

        <div class="row">
            {% for data in products %}
                {% include 'product/_product.html.twig' with {'product': data.jeu} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
