<footer class="page-footer alert alert-light mt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">
        © 2020 Copyright :  Nanomania
    </div>
    <!-- Copyright -->
</footer>