{{ form_start(form) }}
    <div class="input-group py-4 w-50">
        {{ form_widget(form.search) }}
        <div class="input-group-append">
            <button class="btn btn-outline-info" type="submit" id="button-addon2">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
{{ form_end(form) }}


