<div class="py-3">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">
            {{ form_widget(form.search) }}
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
