.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-mini {
    border-radius: 50%;
    max-width: 24px;
    max-height: 24px;
}

.fa-star {
    color: goldenrod;
}

.alert-success {
    margin-top: 2em;
}

.alert-danger {
    margin-top: 40px;
}