{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="alert alert-light">
            <h2 class="my-4">Détail des factures</h2>
            {% for historical in historicals %}
            <dl class="row">
                <dt class="col-md-4">Numéro de la facture :</dt>
                <dd class="col-md-8 pb-2">n°{{ historical.id }}</dd>
                <dt class="col-md-4">Nombre d'article :</dt>
                <dd class="col-md-8 pb-2">{{ historical.products | length }}</dd>
                <dt class="col-md-4">Montant total :</dt>
                <dd class="col-md-8 pb-2">{{ historical.amount }}&euro;</dd>
                <dt class="col-md-4">Acheté le :</dt>
                <dd class="col-md-8 pb-2">{{ historical.createdAt | date('d/m/Y') }}</dd>
            </dl>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
